In [1]:
import pandas as pd
from datetime import datetime

In [6]:
df = pd.read_csv("treasury_20240715.txt", sep="\t")

df.head()

    MATURITY  COUPON      BID    ASKED     CHG  ASKED YIELD
0  7/15/2024   0.375     n.a.     n.a.    n.a.        0.406
1  7/31/2024   1.750  99.2660  99.2760  0.0040        4.996
2  7/31/2024   2.125  99.2660  99.2760   unch.        5.368
3  7/31/2024   3.000  99.2820  99.2920   unch.        5.079
4  8/15/2024   0.375  99.1820  99.1920   unch.        5.279

In [3]:
df.shape

(342, 6)

In [5]:
pd.to_datetime(df['MATURITY'])
# df['MATURITY']

0     2024-07-15
1     2024-07-31
2     2024-07-31
3     2024-07-31
4     2024-08-15
         ...
337   2053-05-15
338   2053-08-15
339   2053-11-15
340   2054-02-15
341   2054-05-15
Name: MATURITY, Length: 342, dtype: datetime64[ns]